In [15]:
import pandas as pd

train_path='data/training-Obama-Romney-tweets.xlsx'
test_path='data/sample-testdata.xlsx'

df = pd.read_excel(train_path)


# create list or else for train

# create list or else for train
df.head()

,Unnamed: 0,date,time,Anootated tweet,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,"1: positive, -1: negative, 0: neutral, 2: mixed",Class,Your class
1,NaN,2012-10-16 00:00:00,10:28:53-05:00,"Kirkpatrick, who wore a baseball cap embroider...",0,NaN
2,NaN,2016-12-10 00:00:00,10:09:00-05:00,Question: If <e>Romney</e> and <e>Obama</e> ha...,2,NaN
3,NaN,2012-10-16 00:00:00,10:04:30-05:00,#<e>obama</e> debates that Cracker Ass Cracker...,1,NaN
4,NaN,2012-10-16 00:00:00,10:00:36-05:00,RT @davewiner Slate: Blame <e>Obama</e> for fo...,2,NaN

In [16]:
df = df[["Anootated tweet", "Unnamed: 4"]]
df.head()

                                     Anootated tweet Unnamed: 4
0    1: positive, -1: negative, 0: neutral, 2: mixed      Class
1  Kirkpatrick, who wore a baseball cap embroider...          0
2  Question: If <e>Romney</e> and <e>Obama</e> ha...          2
3  #<e>obama</e> debates that Cracker Ass Cracker...          1
4  RT @davewiner Slate: Blame <e>Obama</e> for fo...          2

In [17]:
df.columns = ["tweet", "sentiment"]
df.head()

                                               tweet sentiment
0    1: positive, -1: negative, 0: neutral, 2: mixed     Class
1  Kirkpatrick, who wore a baseball cap embroider...         0
2  Question: If <e>Romney</e> and <e>Obama</e> ha...         2
3  #<e>obama</e> debates that Cracker Ass Cracker...         1
4  RT @davewiner Slate: Blame <e>Obama</e> for fo...         2

In [18]:
df = df[df['sentiment'] != 2]
df.head()

                                               tweet sentiment
0    1: positive, -1: negative, 0: neutral, 2: mixed     Class
1  Kirkpatrick, who wore a baseball cap embroider...         0
3  #<e>obama</e> debates that Cracker Ass Cracker...         1
5  @Hollivan @hereistheanswer  Youre missing the ...         0
7  I was raised as a Democrat  left the party yea...        -1

In [19]:
df = df.iloc[1:, :]
df.head()

                                               tweet sentiment
1  Kirkpatrick, who wore a baseball cap embroider...         0
3  #<e>obama</e> debates that Cracker Ass Cracker...         1
5  @Hollivan @hereistheanswer  Youre missing the ...         0
7  I was raised as a Democrat  left the party yea...        -1
8  The <e>Obama camp</e> can't afford to lower ex...         0

In [20]:
df.to_csv('train_data_cleaned.csv', index=False)